@import url(https://fonts.googleapis.com/css?family=Raleway:300,200,100);
@import url(https://fonts.googleapis.com/css?family=Raleway+Dots);

.brand-font{
	font-family: 'Raleway', sans-serif;
}

.navbar-brand{
	font-family: 'Raleway', sans-serif;
}

.red{
	color:#800000;
}

div.logo{

	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 5em;
	line-height: 1em;

	.logo-text-first{

	}
	.logo-text-last{
		.red;
	}
}

div.brand-column{

	ul.tagline-list{

		.brand-font;
		font-size : 2em;
		color:lighten(#000, 70%);
		list-style-type: none;
    	margin: 0;
    	padding: 0;

    	li {
    		display:inline;
    	}

	}
}

div.post-list-view{

}

div.post-list-short{
	ul.post-list{
		font-size : 1em;
		list-style-type: none;
    	margin: 0;
    	padding: 0;

    	li {
    		display:block;

    		h2{
    			font-size: 1.5em;
    		}
    		.post-meta{
    			padding-top:0em;
    		}
    		p.excerpt{
    			
    		}

    	}
	}
	ul.access-options{
		font-size : 1em;
		list-style-type: none;
    	margin: 0;
    	padding: 0;

    	li {
    		display:inline;
    	}
	}
}